# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
# And all the file types you're interested in.
!**/task/src/**/*
**/task/src/test/
**/task/build/intermediates/
**/task/build/outputs/
!*.txt
!*.gradle

